<mat-card *ngIf="!loading; else loadingBlock">
    <h2>User Profile Form</h2>

    <div class="container">

        <form [formGroup]="userForm"
              (ngSubmit)="onSubmit()"
              novalidate>

            <section class="section" *ngIf="error$ | async; let error">
                <mat-error>
                    {{error}}
                </mat-error>
            </section>
            
            <section class="section">
                <mat-checkbox formControlName="createUser">Create New User</mat-checkbox>
            </section>

            <mat-form-field *ngIf="!userForm.value.createUser">
                <input matInput
                       placeholder="User Id"
                       formControlName="userId"
                       (change)="getUser(userForm.value.userId)">
            </mat-form-field>

            <mat-form-field>
                <input matInput
                       placeholder="First Name"
                       formControlName="firstName">

                <mat-error *ngIf="userForm.get('firstName').hasError('required')">
                    First Name is
                    <strong>required</strong>
                </mat-error>

            </mat-form-field>

            <mat-form-field>

                <input matInput
                       placeholder="Last Name"
                       formControlName="lastName">

                <mat-error *ngIf="userForm.get('lastName').hasError('required')">
                    Last Name is
                    <strong>required</strong>
                </mat-error>

            </mat-form-field>

            <mat-form-field>

                <input matInput
                       placeholder="Display Name"
                       formControlName="displayName">

            </mat-form-field>

            <div *ngIf="userForm.value.createUser; else saveForm"
                 style="margin-bottom: 1em">

                <button mat-raised-button
                        color="accent"
                        type="submit"
                        [disabled]="userForm.invalid || userForm.pristine || saving"
                        class="btn btn-success">Create</button> &nbsp;

                <button mat-raised-button
                        color="warn"
                        type="reset"
                        (click)="revert()"
                        [disabled]="userForm.invalid || userForm.pristine || saving"
                        class="btn btn-danger">Clear</button>

            </div>

            <ng-template #saveForm>
                <div style="margin-bottom: 1em">

                    <button mat-raised-button
                            color="primary"
                            type="submit"
                            [disabled]="userForm.invalid || userForm.pristine || saving"
                            class="btn btn-success">Save</button> &nbsp;
                    <button mat-raised-button
                            color="warn"
                            type="reset"
                            (click)="onReset()"
                            [disabled]="userForm.invalid || userForm.pristine || saving"
                            class="btn btn-danger">Revert</button>

                </div>
            </ng-template>

        </form>

    </div>

    <p><strong>DEBUG DATA</strong></p>
    <p>{{ userForm.value | json }}</p>
    <p>{{ userForm.status | json }}</p>

</mat-card>

<ng-template #loadingBlock>
    <div class="container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>